// Colors
$clr-gry:#6C757D;
$txt-clr-orange:#F0E68C;
$clr-pink:#FF8EB9;
$clr-lpink:#FFA1B3;
$clr-yel:#F0E68C;
$color-green:#50D8A0;
$card-grey:#E7E7E7;

// Size 
.font-size-h1 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.font-size-h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

.font-size-h3 {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}

.font-size-h4 {
    font-size: 1.1rem;
    font-style: normal;
    font-weight:200;
    line-height: 1.2rem;
}